{# app/Resources/views/partials/header.html.twig #}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="{{ path('home') }}">Simple Address Book</a>
        </div>
    </div>
</div>