{% extends '::base.html.twig' %}

{% form_theme form 'XtreemAddressBookBundle:partials:form.theme.html.twig' %}

{% block title %}Add a new addressbook record{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}">Address book</a> <span class="divider">/</span></li>
        <li class="active">Add</li>
    </ul>

    <div class="page-header">
        <h2> Add address book record </h2>
    </div>

    {%
        include 'XtreemAddressBookBundle:partials:form.html.twig' with {
            'form':       form,
            'formAction': path('add'),
            'cancelUrl':  path('home')
        }
    %}
{% endblock %}