{% extends '::base.html.twig' %}

{% form_theme editForm 'XtreemAddressBookBundle:partials:form.theme.html.twig' %}

{% block title %}Edit a new addressbook record{% endblock %}

{% block body %}
    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}">Address book</a> <span class="divider">/</span></li>
        <li class="active">Edit</li>
    </ul>

    <div class="page-header">
        <h2> Edit address book record </h2>
    </div>

    {%
        include 'XtreemAddressBookBundle:partials:form.html.twig' with {
            'form':       editForm,
            'formAction': path('edit', { 'id' : entity.id }),
            'cancelUrl':  'javascript:history.go(-1)'
        }
    %}
    </form>
{% endblock %}
