{% extends '::base.html.twig' %}
{% block body %}
    <div class="hero-unit">
        <h1>Simple Address Book</h1>
        <p>This is a simple Symfony2 address book bundle. Enjoy!!</p>
    </div>

    {{ datatable({
            'id':            'addressbook',
            'view_route':    'show',
            'edit_route':    'edit',
            'delete_route':  'delete',
            'delete_token':  _token,
            'main_template': 'XtreemAddressBookBundle:partials:datatable_template.html.twig',
            'js' : {
                'sAjaxSource' : path('grid')
            }
        })
    }}

    <div class="form-actions">
        <a class="btn btn-primary" href="{{ path('add') }}">
            Add new address book record
        </a>
    </div>
{% endblock %}